/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px
}

.dark-blue-background {
  background-color: #293449;
  color: #ffffff;
}

.light-blue-background {
  background-color: #32425c;
}

.nav-firstline a {
  font-size: 17px;
  line-height: 1.06;
  word-break: break-all;
  vertical-align: middle;
}

.nav-firstline a:hover,
.form-search:hover,
.form-search input:hover {
  background-color: #212a3a;
}

.nav-firstline a:active,
.form-search:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.nav-firstline .container {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-header,
.logo-footer {
  display: block;
  text-align: center;
  background-color: #ee3643;
  position: relative;
}

.logo-header {
  width: 196px;
  padding: 12px;
  padding-bottom: 7px;
}

.logo-header::after,
.logo-footer::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #b62430;
}

.nav-firstline .logo-header:hover,
.logo-footer:hover {
  background-color: #ca2c37;
}

.nav-firstline .logo-header:active,
.logo-footer:active {
  background-color: #ba2732;
}

.form-search {
  width: 270px;
  position: relative;
}

.form-search input {
  border: none;
  width: 221px;
  height: 39px;
  padding-left: 49px;
}


.form-search input:focus {
  background-color: #ffffff;
  color: #000000;
}

.form-search input::-webkit-input-placeholder {
  color: #ffffff;
}

.form-search input::-moz-placeholder {
  color: #ffffff;
}

.form-search input:-ms-input-placeholder {
  color: #ffffff;
}

.form-search input::-ms-input-placeholder {
  color: #ffffff;
}

.form-search input::placeholder {
  color: #ffffff;
}

.search-field + svg {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
}

.search-field:hover + svg {
  opacity: 1;
}

.search-field:focus + svg {
  opacity: 1;
}

.search-field:focus + svg path {
  fill: #ee3643;
}

.firstline-user {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.firstline-user-block {
  width: 126px;
  display: block;
  text-align: center;
  padding: 12px;
}

.firstline-buttons {
  position: relative;
  padding-left: 30px;
  width: 108px;
}

.firstline-buttons.firstline-bookmarks::before,
.firstline-buttons.firstline-cart::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.firstline-buttons.firstline-bookmarks::before {
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  background-image: url("../img/icons/icon-bookmark.svg");
}

.firstline-buttons.firstline-cart::before {
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;
  background-image: url("../img/icons/icon-cart.svg");
}

.firstline-buttons.firstline-bookmarks:hover::before,
.firstline-buttons.firstline-cart:hover::before {
  opacity: 1;
}

.firstline-buttons.firstline-bookmarks:active::before,
.firstline-buttons.firstline-cart:active::before {
  opacity: 0.5;
}

.cart-inner {
  background-color: #ee3643;
}

.nav-firstline .cart-inner:hover {
  background-color: #ca2c37;
}

.nav-firstline .cart-inner:active {
  background-color: #ba2732;
}

.button-green {
  background-color: #63a63e;
}

.nav-firstline .button-green:hover,
.button-green:hover {
  background-color: #5fbb2d;
}

.nav-firstline .button-green:active,
.button-green:active {
  background-color: #518534;
}

.nav-huge-block {
  background-color: #f4f7f9;
  padding-bottom: 60px;
  margin-bottom: 59px;
}

.huge-block-inner {
  margin-bottom: 0;
}

.shop p {
  margin: 0;
}

.shop-inner {
  margin-right: 9px;
}

.nav-secondline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description-red {
  color: #ee3643;
}

.shop-description {
  font-style: italic;
  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 1.44;
  width: 240px;
  min-height: 60px;
  padding-top: 48px;
  padding-bottom: 41px;
  padding-left: 52px;
}

.shop-description span {
  display: block;
}

.secondline-contact .text-large{
  padding-left: 26px;
}

.shop-phone {
  margin: 0;
  width: 270px;
  border: solid 3px #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-top: 46px;
  position: relative;
}

.shop-phone::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  top: 11px;
  left: 11px;
}

.text-large {
  font-size: 21px;
  line-height: 1;
  display: block;
  padding: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shop-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
  width: 267px;
  text-align: center;
  margin-top: 4px;
}

.user-block {
  width: 281px;
  margin-top: 46px;
}

.user-item:nth-of-type(1) {
  position: relative;
}

.user-item:nth-of-type(1) svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.user-block.authorizated {
  width: 299px;
  margin-top: 46px;
}

.user-navigation {
  width: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.user-navigation-inner {
  width: 245px;
  padding: 0 18px 20px;
  margin-top: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: underline;
  color: #32425c;
}

.user-link:hover,
.user-item:hover {
  color: #ee3643;
}

.user-item:active,
.user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name {
  margin-bottom: 0;
  padding: 12px 32px 12px 13px;
  cursor: pointer;
}

.user-name:hover path,
.user-item:hover path {
  fill: #293449;
}

.user-name:active path,
.user-item:active path {
  fill: #c5c5c5;
}

.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name svg {
  padding-right: 9px;
}


.user-authorizated {
  position: relative;
}

.user-logout {
  position: absolute;
  width: 20px;
  height: 17px;
  content: "";
  top: 14px;
  right: 11px;
}

.user-logout:hover path {
  fill: #293449;
}

.user-logout:active path {
  fill: #c5c5c5;
}

.user-orders {
  list-style: none;
}

.user-cabinet {
  padding-left: 5px;
}

.user-navigation a,
.user-name {
  color: #000000;
  background-color: #ffffff;
  padding: 12px;
}

.authorize {
  width: 121px;
}

.authorize a {
  padding-left: 33px;
}

.registration {
  width: 150px;
}

.user-navigation,
.main-nav ul,
.footer-details1 ul,
.footer-details2 ul {
  padding: 0;
  margin: 0;
}

.user-navigation,
.navigation,
.offers,
.slider,
.popular-items-list,
.popular-producers-list,
.services-list,
.services-list-inner,
.delivery-partners,
.footer-services,
.footer-products,
.social-buttons,
.breadcrumbs-list,
.sorting-block,
.catalog-nav {
  list-style: none;
}

.main-nav {
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  padding: 0 20px;
}

.main-nav a {
  word-break: break-all;
  max-width: 180px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item {
  color: #ffffff;
  font-size: 17px;
  line-height: 1;
}

.nav-title {
  display: block;
  padding: 21px 30px 23px;
}

.nav-item:hover {
  background-color: #293449;
}

.nav-item:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.offers-list {
  margin-bottom: 33px;
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers {
  padding: 0;
  margin: 0;
}

.offers-1-block {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers-2-block {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offers-item {
  width: 300px;
  height: 123px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #ffbf47;
  color: #ffffff;
  position: relative;
  overflow: hidden;

}

.item-light-orange {
  background-color: #ffbf47;
}

.item-light-orange::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 59px;
  top: 0;
  right: 0;
  background-image: url("../img/pictures/new-flag.png");
  background-repeat: no-repeat;
}

.item-light-orange::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 65px;
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  top: 31px;
  right: 43px;
}

.item-blue {
  background-color: #3bbce3;
}

.item-blue::after {
  position: absolute;
  content: "";
  width: 75px;
  height: 61px;
  background-image: url("../img/icons/icon-2.svg");
  background-repeat: no-repeat;
  top: 33px;
  right: 28px;
}

.item-violet {
  background-color: #dc91d8;
}

.item-violet::after {
  position: absolute;
  content: "";
  width: 78px;
  height: 62px;
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
  top: 31px;
  right: 31px;
}

.item-green {
  background-color: #8ed78f;
}

.item-green::after {
  position: absolute;
  content: "";
  width: 59px;
  height: 72px;
  background-image: url("../img/icons/icon-4.svg");
  background-repeat: no-repeat;
  top: 26px;
  right: 45px;
}

.item-orange {
  background-color: #ffc047;
}

.item-orange::after {
  position: absolute;
  content: "";
  width: 78px;
  height: 63px;
  background-image: url("../img/icons/icon-5.svg");
  background-repeat: no-repeat;
  top: 32px;
  right: 31px;
}

.offers-item h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

.button {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 9px 15px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  word-break: break-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-black {
  background-color: rgba(0, 0, 0, 0.1);
  width: 135px;
  margin-left: 4px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  word-break: break-all;
}

.button-black:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-black:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-block {
  width: 620px;
  position: relative;
}

.slider {
  padding: 0;
  margin: 0;
}

.slider-item {
  padding-bottom: 1px;
  background-color: #bfb1a4;
  display: none;
}

.slider-item .button {
  min-width: 195px;
  margin-left: 25px;
  margin-bottom: 21px;
}

.slider-item:nth-child(odd) {
  background-image: url("../img/pictures/slide-image1.png");
  background-repeat: no-repeat;
}

.slider-item:nth-child(even) {
  background-image: url("../img/pictures/slide-image2.png");
  background-repeat: no-repeat;
}

.slider-choosen {
  display: block;
}

.slider-not-choosen {
  display: none;
}

.button-red {
  background-color: #ee3643;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.black-transparent {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 24px;
  padding-bottom: 22px;
  margin-bottom: 100px;
}

.black-transparent h3 {
  margin: 0;
  width: 94px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.black-transparent p {
  margin: 0;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}

.slider-navigation {
  cursor: pointer;
  text-align: center;
}

.slider-controllers {
  position: absolute;
  height: 20px;
  bottom: 54px;
  left: 44%;
}

.slider-controller {
  padding: 0;
  margin: 6px;
  width: 10px;
  height: 10px;
  border: 2px solid #f4f7f9;
  border-radius: 50%;
}

.controller-checked {
  background-color: #ee3643;
}

.slider-arrow {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 40%;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 22px 40px;
  cursor: pointer;
}

.slider-arrow.arrow-previous {
  left: 25px;

  background-image: url("../img/icons/icon-left.svg");
}

.slider-arrow.arrow-next {
  right: 20px;
  background-image: url("../img/icons/icon-right.svg");
}

.popular-items {
  margin-bottom: 20px;
}

.popular-header {
  background-color: #f9f5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 19px;
}

.popular-header h2 {
  margin: 30px 28px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
}

.popular-header .button {
  width: 253px;
  margin: 25px 24px 27px;
}

.item-hover .button {
  font-family: 'Cuprum', 'Arial', sans-serif;
  padding: 8px 15px;
  width: 135px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  word-break: break-all;
}

.item-hover .button-buy {
  position: relative;
  padding: 9px 15px;
}

.button-buy::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  opacity: 0.3;
  top: 9px;
  left: 12px;
  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
}

.button-bookmarks {
  color: #32425c;
  border: solid 3px #63a63e;
  background-color: #ffffff;
  margin-top: 6px;
}

.button-bookmarks:hover {
  border: solid 3px #32425c;
}

.button-bookmarks:active {
  opacity: 0.3;
}

.button-to-cart {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
          box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  border: none;
  display: inline-block;
  word-break: break-all;
}

.button-to-cart:hover {
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
          box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.button-to-cart:active {
  background-color: #518534;
}

.popular-items-list {
  padding: 0;
  margin: 0;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-item,
.product {
  width: 220px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular-item:hover,
.product:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item-hover {
  position: absolute;
  width: 218px;
  min-height: 170px;
  padding: 45px 43px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  content: "";
  top: 0;
  left: 0;
}

.item-hover {
  display: none;
}

.popular-item:hover .item-hover,
.product:hover .item-hover {
  display: block;
}

.popular-item img,
.product img {
  max-width: 100%;
}

.popular-item-header,
.product-name {
  font-family: 'PT Sans', 'Arial', sans-serif;
  margin: 0;
  padding: 9px 16px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
}

.popular-item .flag,
.product .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -142px;
  overflow: hidden;
  z-index: 20;
}

.popular-item .flag-new,
.product .flag-new {
  background: url("../img/pictures/new-flag.png") no-repeat 0 0;
}

.old-price {
  color: #a9a9a9;
  margin: 0 auto;
  min-height: 31px;
  word-break: break-all;
}

.popular-item .new-price,
.product .new-price {
  color: #ffffff;
  display: block;
  position: relative;
  width: 75px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  background: #ee3643;
  border-radius: 3px;
}

.popular-item .new-price:after,
.product .new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.popular-producers {
  margin-bottom: 66px;
}

.popular-producers-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-producer {
  width: 218px;
  min-height: 143px;
  border: solid 1px #eaeaea;
  text-align: center;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-producer:not(:nth-of-type(4n-3)) {
  margin-left: 20px;
}

.popular-producer:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-producer:active {
  opacity: 0.5;
}

.services {
  background-color: #f4f7f9;
  height: 522px;
  margin-bottom: 78px;
}

.services-items {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-description {
  width: 940px;
  margin: 40px 0 57px;
}

.services-list,
.services-list-inner {
  padding: 0;
  margin: 0;
}

.services-list {
  position: relative;
  width: 240px;
  margin-right: 80px;
  font-size: 21px;
}

.services-list::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  background-image: url("../img/pictures/shadow.png");
  background-repeat: no-repeat;
  top: 50%;
  right: 0;
  background-size: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services-list-inner {
  width: 275px;
}

.service-offer {
  position: relative;
  display: none;
}

.service-choosen {
  display: block;
}

.service-delivery::after {
  position: absolute;
  content: "";
  width: 468px;
  height: 261px;
  background-image: url("../img/pictures/delivery.png");
  background-repeat: no-repeat;
  top: 23px;
  right: -344px;
  background-size: 100%;
}

.service-warrancy::after {
  position: absolute;
  content: "";
  width: 389px;
  height: 283px;
  background-image: url("../img/pictures/guarantee.png");
  background-repeat: no-repeat;
  top: 1px;
  right: -353px;
  background-size: 100%;
}

.service-credit::after {
  position: absolute;
  content: "";
  width: 465px;
  height: 285px;
  background-image: url("../img/pictures/credit.png");
  background-repeat: no-repeat;
  top: 0;
  right: -355px;
  background-size: 100%;
}

.services-header {
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

.services-advantages {
  width: 400px;
}

.services-button,
.button-not-choosen {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  border: none;
  text-align: left;
  width: 240px;
  padding: 15px 22px 17px;
  -webkit-box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
          box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  color: #ffffff;
}

.services-button:not(.button-choosen):hover {
  background-color: #293449;
}

.button-choosen {
  -webkit-box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
          box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}

.service-inner-name {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.service-inner-description,
.services-advantages,
.description-offers {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
}

.description-offers {
  margin: 0;
}

.service-inner-description {
  width: 275px;
  margin-top: 22px;
}

.service-warrancy p {
  width: 377px;
}

.service-credit p {
  width: 280px;
}

.description-services {
  margin-bottom: 66px;
}

.button-credit-request {
  width: 195px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 28px;
  display: inline-block;
  word-break: break-all;
}

.company-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description-delivery {
  margin-top: 26px;
}

.delivery-partners {
  padding: 0;
  margin-bottom: 35px;
}

.delivery-partner {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  margin: 21px 0;
  padding-left: 35px;
  position: relative;
}

.delivery-partner::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  top: 8px;
  left: 0;
}

.description-company {
  width: 520px;
  margin-right: 120px;
}

.description-contacts {
  width: 300px;
}

.description-company-offer {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: normal;
  margin-top: 0;
}

.mens-shopping {
  margin-bottom: 25px;
}

.contact-offer {
  width: 180px;
  margin-bottom: 33px;
}

.contacts-map {
  margin-bottom: 35px;
}

.button-contacts,
.details-button {
  padding: 9px 15px;
  width: 300px;
  display: inline-block;
  word-break: break-all;
  margin-bottom: 20px;
}

.button-contacts {
  position: relative;
}

.details-button {
  width: 220px;
}

.modal {
  position: fixed;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.modal-red-stripe {
  border-top: 7px solid #ee3643;
}

.modal-contact {
  left: 50%;
  margin-left: -311px;
  top: 71px;
  display: none;
}

.modal-contact-show {
  display: block;
}

.modal-request-form {
  width: 620px;
}

.modal-request {
  padding: 47px 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-contact-data {
  width: 458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-contact-data input {
  width: 218px;
  border: solid 2px #dee3e4;
  margin-top: 10px;
}

.modal-contact-data input:focus,
.modal-request textarea:focus {
  border-color: #ee3643;
  outline: solid 3px #ee3643;
}

.modal-contact-data input:hover,
.modal-request textarea:hover {
  border-color: #b5b5b5;
}

.modal-contact-data [placeholder],
.modal-request textarea {
  line-height: 1.38;
  color: #a9a9a9;
  padding: 8px 15px;
  font-size: 13px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.modal-contact-data [placeholder] {
  width: 186px;
}

.modal-contact-data label {
  width: 218px;
  font-size: 18px;
  line-height: 1;
}

.label-message {
  font-size: 18px;
  line-height: 1;
  margin: 20px 0 10px;
}

.modal-request textarea {
  border: solid 2px #dee3e4;
  width: 426px;
  height: 94px;
  margin-bottom: 36px;
}

.modal-send {
  width: 620px;
  margin: 0;
  padding: 37px 0;
  background-color: #f4f4f4;
}

.button-send {
  width: 460px;
  display: inline-block;
  word-break: break-all;
  padding: 11px 15px;
  margin-left: 80px;
}

.modal-close {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -9px;
  width: 27px;
  height: 4px;
  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-map {
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-top: -281px;
  margin-left: -471px;
  z-index: 100;
  display: none;
}

.modal-map-show {
  display: block;
}

.modal-map p {
  margin: 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-footer {
   width: 220px;
   height: 43px;
   padding-top: 20px;
}

.footer-logo img {
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-details1 {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-links,
.footer-contacts {
  font-size: 18px;
  line-height: 1.33;
}

.footer-services {
  width: 548px;
  color: #f1f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info {
  margin-top: 22px;
  padding: 16px 0;
}

.footer-info:hover {
  text-decoration: underline;
}

.footer-info:active {
  opacity: 0.5;
}

.footer-details2 {
  width: 940px;
  margin-top: 20px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contacts {
  width: 326px;
  margin: 0;
  margin-left: 3px;
  color: #f3f7f9;
}

.footer-contacts-adress {
  margin: 0;
}

.text-yellow {
  color: #ffd180;
}

.footer-item:hover {
  text-decoration: underline;
}

.footer-item:active {
  opacity: 0.5;
}

.footer-products {
  width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-row-2 {
  padding-top: 37px;
  padding-bottom: 29px;
}

.footer-wrapper-2 {
  font-size: 16px;
  line-height: 1.13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rights {
  margin-right: 160px;
}

.rights-description {
  margin: 0;
  width: 230px;
}

.social {
  margin-right: 118px;
}

.social-buttons {
  padding: 0;
  margin: 0;
  width: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-button {
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}

.social-button a {
  display: inline-block;
  width: 42px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
}

.social-button:nth-of-type(n+2) a {
  padding-top: 3px;
}

.contact p {
  margin: 0;
}

.contact a:hover {
  text-decoration: underline;
}

.contact a:active {
  color: #ee3643;
  text-decoration: none;
}

.contact-resources {
  width: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-inner .inner-wrapper {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs {
  width: 940px;
}

.breadcrumbs-list {
  padding: 0;
  margin: 0;
  padding: 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs-item {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  padding-left: 39px;
  position: relative;
}

.breadcrumbs-item:nth-of-type(n+2)::before {
  position: absolute;
  width: 8px;
  height: 12px;
  content: "";
  background-image: url("../img/icons/icon-right-small.svg");
  background-repeat: no-repeat;
  top: 3px;
  left: 14px;
}

.breadcrumbs-item:nth-of-type(1) {
  padding-left: 0;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  width: 940px;
  padding: 36px 28px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.filters-headers,
.sorting,
.sorting h3,
.filter {
 margin: 0;
 font-family: 'PT Sans', 'Arial', sans-serif;
 font-size: 13px;
 line-height: 1.38;
 text-transform: uppercase;
}

.filter {
  width: 220px;
  min-height: 1200px;
}

.filter-area {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-area:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.filters-headers {
  padding: 10px 20px;
  margin-bottom: 12px;
}

.filter-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
}

.filter-option label {
  font-size: 15px;
  line-height: 1.33;
  cursor: pointer;
}

.filter-range-wrapper {
  margin-bottom: 9px;
  margin-top: 14px;
  padding: 39px 20px;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.filter-range {
  position: relative;
}

.filter-range-scale {
  height: 2px;
  background-color: #d7dcde;
}

.filter-range-bar {
  height: 2px;
  width: 84%;
  background-color: #00ca74;
}

.filter-range-handle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #99a0a2;
  cursor: pointer;
}

.filter-range-handle.min {
  left: 0%;
}

.filter-range-handle.max {
  left: 77%;
}

.filter-interval {
  font-size: 0;
  margin-bottom: 25px;
}

.filter-interval label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 17px;
  line-height: 1.06;
  text-transform: uppercase;
}

.filter-interval label:nth-child(1) {
  position: relative;
}

.filter-interval label:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 1px;
  background-color: #444444;
  top: 19px;
  right: -5px;
}

.filter-interval label:last-child {
  text-align: right;
}

.power,
.manufacturers {
  padding: 0;
}

.filter-interval input {
  width: 95px;
  height: 36px;
  border-radius: 2px;
  border: none;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: #f7f3ec;
}

.filter-parametr + label {
	color: #283136;
}

.filter-parametr:hover + label,
.filter-parametr:focus + label {
	color: #000000;
}

.filter-parametr:disabled + label,
.filter-parametr:disabled:hover::before  {
  color: rgba(0, 0, 0, 0.4);
}

.filter-area ul {
  padding: 0;
  margin: 0;
  margin-top: 14px;
  padding-bottom: 5px;
  list-style: none;
}

.filter-area:nth-child(3) {
  margin-top: 16px;
  margin-bottom: 17px;
}

.filter-area:nth-child(4) {
  margin-bottom: 54px;
}

.filter-radio label {
  position: relative;
}

.power label:hover::before,
.power input[type="radio"]:checked + label:hover::before,
.manufacturers label:hover::before,
.manufacturers input[type="checkbox"]:checked + label:hover::before {
  opacity: 1;
}

.power input[type="radio"]:checked + label::before {
  background-image: url("../img/icons/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
}

.power label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;
  width: 28px;
  height: 28px;
  background-image: url("../img/icons/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
}

.filter-checkbox label {
  position: relative;
}

.manufacturers input[type="checkbox"]:checked + label::before {
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
}

.manufacturers label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 28px;
  height: 24px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}

.button-show,
.button-white  {
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000000;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.button-show {
  width: 64%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-show:hover {
  border-color: #000000;
}

.button-show:active {
  border-color: rgba(0, 0, 0, 0.4);
}

.red-text {
  color: #ee3643;
}

.catalog-inner {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting {
  width: 700px;
  padding: 10px 19px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.light-beige {
  background-color: #f7f3ec;
}

.sorting-block {
  padding: 0;
  margin: 0;
  margin-left: 92px;
  width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-button-active {
  color: #ee3643;
}

.sorting-button-inactive {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-button:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-buttons {
  width: 40px;
}

.arrow:hover path{
  fill: #000000;
}

.arrow-up {
  margin-right: 14px;
}

.arrow-set path {
  fill: #ee3643;
}

.arrow-not-set path {
  fill: rgba(0, 0, 0, 0.3);
}

.product {
  margin-bottom: 20px;
  border: solid 1px #e5e5e5;
}

.product-name {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
}

.pages-nav {
  padding: 0;
  margin: 0;
}

.catalog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 32px 0 58px;
}

.button-nav {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
  min-width: 38px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 9px;
}

.button-nav:hover {
  border: solid 1px #bdc6ca;
  background-color: #ffffff;
}

.button-nav:active {
  border: solid 1px #ee3643;
  background-color: #ffffff;
}

.page-active {
  background-color: #ee3643;
  color: #ffffff;
  border: none;
}

.page-active:hover {
  background-color: #ca2c37;
  border: none;
}

.page-active:active {
  background-color: #ba2732;
}

.page-next {
  min-width: 140px;
  padding: 5px;
  vertical-align: middle;
}

.catalog-pages {
  width: 700px;
}

.modal-added-to-cart {
  width: 620px;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  position: fixed;
  background-color: #ffffff;
  left: 50%;
  margin-left: -310px;
  top: 157px;
  display: none;
}

.modal-added-show{
  display: block;
}

.modal-header {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  margin: 65px 0 68px;
  padding-left: 68px;
  position: relative;
}

.modal-header::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  background-color: #63a63e;
  border-radius: 50%;
  left: 81px;
  top: -17px;
  background-image: url(../img/icons/icon-mark.svg);
  background-repeat: no-repeat;
}

.modal-order-window {
  background-color: #f1f1f1;
  text-align: center;
  padding: 37px 0;
}

.modal-order-window .button-white {
  border: none;
}

.button-catalog-modal {
  width: 220px;
  padding: 12px 15px;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.button-make-order {
  margin-right: 16px;
}

.catalog-description {
  background-color: #f4f7f9;
}

.catalog-header {
  margin-top: 0;
  padding-top: 64px;
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-article {
  margin: 0;
  width: 911px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.secondline-description {
  padding-bottom: 70px;
}
